<div class="box">
  <h2>We want children to understand the value of money</h2>
  <h4>Dolly Mahayan | Monday, Jul 31,2017 8:31 AM</h4>
  <div class="first">
    <figure>
      <img src="./img/coin.jpg" alt="coin" />
      <figcaption>Children should know the value of money</figcaption>
    </figure>


    <p>KidZania is a chain of indoor theme parks built around the concept of role-playing. Viraj Jit Singh, Chief Marketing Officer of KidZania, believes children always want to indulge in the activities of adults and KidZania gives them the opportunity
      to work like adults and earn money. In an interview with exchange4media, Singh talks about the core idea of KidZania and how they collaborate with brands. Excerpts: Previously you were associated in the TV industry and now you are heading as CMO
      of KidZania. </p>
    <p>How do you see this change? When I was in the media Industry, I was largely in the revenue generation function both in reliance and Viacom 18. Today I am sitting at the other side of the table and understanding what a marketer and brand objective
      is, while looking at the assets we have. I think my journey as a CMO is far more holistic because I manage the partnerships, revenue functions and look after building the brand. I believe my journey is extremely fulfilling because of the type of
      work, when you see 1500 children visiting with smile on their face to learn what the real world is like is the most amazing feeling. KidZania allows children to work in adult jobs and earn currency. Could you tell us more about it? The essence of
      KidZania’s experience is about financial literacy. We want children to understand the world of work and the value of money. Therefore, the entire experience is a representation of how the real world works. In KidZania the activities are the real
      life replicas of industry and services that exists in the real world. In the real world, adults earn money. So, he/she can avail the goods and services by spending that amount of money. The same happens in KidZania when a child walks into our activities
      room and gets a job as a courier boy, as a pilot and so forth, and after completing the activities we give them salary in the form of KidZania currency known as Kidzos. Now, the children can go and earn money and spend money on the other services
      which he/she wants to do. So, we are teaching them how to save money and value money through the essence of KidZania currency.</p>
    <P>source:http://www.exchange4media.com/marketing/we-want-children-to-understand-the-value-of-moneyviraj-jit-singh-cmo-kidzania_69899.html</P>
    <!--        </div>-->
  </div>

  <div class="second">
    <h2>MO salmon spurs debate, but survey finds most Canadians don’t know what GMO entails</h2>
    <h4>Maham Abedi National Online Journalist | Breaking News Global News</h4>
    <p>Genetically modified salmon is now being sold in Canada, which has some people concerned about food labelling at grocery stores.The sale of GMO salmon was approved by Health Canada in May 2016. Five tonnes have been told in the country since then,
      according to a report from AquaBounty, the U.S.-based company that produces the fish.</p>
    <p>But Canadians who’ve bought the salmon, may not have known that it was designed to grow faster and bigger, while also consuming less food. Unlike many other countries, GMO food in Canada doesn’t need to be labelled when being sold. A private-member’s
      bill that called for genetically modified food products to be labelled was rejected by the House of Commons in May. Bill C-291, which would have amended the Food and Drugs Act, was tabled by NDP MP Pierre Luc Dusseault. On Wednesday, an Angus Reid
      survey revealed that most Canadians admit they don’t know much about genetically modified organisms, but still want more transparency.  </p><p>source:http://globalnews.ca/news/3657579/genetically-modified-salmon-canada/</p>
  </div>
  <div class="third">
    <h2>Much of South Asia could be too hot to live in by 2100 - scientists</h2>

    <h4>Chris Arsenault | @chrisarsenaul | Thomson Reuters Foundation Wednesday, 2 August 2017 18:00 GMT</h4>
    <p>TORONTO, Aug 2 (Thomson Reuters Foundation) - Climate change could make much of South Asia - home to a fifth of the world's population - too hot for human survival by the end of this century, scientists warned on Wednesday. If climate change continues
      at its current pace, deadly heatwaves beginning in the next few decades will strike parts of India, Pakistan and Bangladesh, according to a study based on computer simulations by researchers at the Massachusetts Institute of Technology (MIT). Key
      agricultural areas in the Indus and Ganges river basins will be particularly hard-hit, reducing crop yields and increasing hunger in some of the world's most densely populated regions, researchers said. "Climate change is not an abstract concept,
      it is impacting huge numbers of vulnerable people," MIT professor Elfatih Eltahir told the Thomson Reuters Foundation. "Business as usual runs the risk of having extremely lethal heat waves." The areas likely to be worst affected in northern India,
      southern Pakistan and Bangladesh are home to 1.5 billion people, said Eltahir, the study's co-author. Currently, about 2 percent of India's population is sometimes exposed to extreme combinations of heat and humidity; by 2100 that will increase
      to about 70 percent if nothing is done to mitigate climate change, the study said. Heatwaves across South Asia in the summer of 2015 killed an estimated 3,500 people and similar events will become more frequent and intense, researchers said. Projections
      show the Gulf region will be the world's hottest region by 2100 as a result of climate change. But with small, wealthy populations and minimal domestic food production requirements, oil-rich states in the Gulf will be better able to respond to rising
      heat than countries in South Asia, Eltahir said. The study does not directly address migration but researchers said it is likely that millions of people in South Asia will be forced to move due to blistering temperatures and crop failures unless
      steps are taken to reduce greenhouse gas emissions. Disaster experts from South Asian countries met in Pakistan last month to launch a toolkit to help city governments develop ways to manage the impact of heatwaves in urban areas. Ahmedabad, in
      western India, has already introduced a heat action plan - South Asia's first early warning system against extreme heatwaves. Authorities in the city of 5.5 million have mapped areas with vulnerable populations and set up "cooling spaces" in temples,
      public buildings and malls during the summer.</p>
    <p>(Reporting by Chris Arsenault @chrisarsenaul, additional reporting by Thin Lei Win in Bangkok. Editing by Emma Batha.; Please credit the Thomson Reuters Foundation, the charitable arm of Thomson Reuters, that covers humanitarian news, women's rights,
      trafficking, property rights, climate change and resilience. Visit http://news.trust.org) THEMES source:https://news.trust.org/item/20170802180401-0gji6/
    </p>

  </div>
</div>
